@font-face {
    font-family: "SuperMario256";
    src: url(../assets/fonte/SuperMario256.ttf);
}

body {
    background-image: url(../assets/img/cubodemadeira.png);
    font-family: SuperMario256;
    font-size: 60px;
    font-weight: bolder;
    -webkit-text-stroke-width: 3px;
    -webkit-text-stroke-color: #000;
    text-shadow: 5px 5px black;
}

header {
    margin-bottom: 50px;
    margin-top: 20px;
}

#musicaintro {
    position: absolute;
    left: -500px;
}

.tabuleiro {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

#jogador-1 {
    font-size: 35px;
    color: white;
}

#jogador-2 {
    font-size: 35px;
    color: white;
}

#vs {
    font-size: 35px;
    color: white;
    margin: 0px 10px;
}

.nomes-jogadores {
    color: white;
    display: none;
    justify-content: center;
    margin-top: 40px;
}

.pisca {
    animation: pisca 1.5s ease-out infinite;
}

@keyframes pisca {
    0% {
        color: red
    }
    50% {
        color: green;
    }
    75% {
        color: yellow;
    }
    100% {
        color: blue;
    }
}

.ganhou .adicionarImg {
    animation: zoom-in-zoom-out 2s ease-out infinite;
}

.adicionarImg {
    height: 90%;
    width: 90%;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.linha {
    width: 80px;
    height: 80px;
    border-right: 5px solid black;
    border-bottom: 5px solid black;
    background-image: url(../assets/img/caixinhasurpresa.png);
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 1s;
    animation: bounce 1s;
}

@keyframes bounce {
    0% {
        transform: translateX(-200vh);
    }
    100% {
        transform: translateX(0%);
    }
}

@keyframes zoom-in-zoom-out {
    0% {
        transform: scale(1, 1);
    }
    50% {
        transform: scale(1.5, 1.5);
    }
    100% {
        transform: scale(1, 1);
    }
}

.tirarBordaRight {
    border-right: 0px;
}

.tirarBordaBottom {
    border-bottom: 0px;
}

.colorirVermelho {
    color: red;
}

.colorirVerde {
    color: green;
}

.colorirAmarelo {
    color: yellow;
}

.colorirAzul {
    color: blue;
}

.titulo {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
}

.titulo p {}

.espaco {
    margin-right: 10px;
}

.palavra {
    display: flex;
    justify-content: center;
    margin-left: 20px;
}

.palavra p {
    margin-right: 6px;
}

.caixinhaapagada {
    background-image: url(../assets/img/caixinhasurpresaapagada.jpg);
}

.pop-up {
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: -0.2%;
    background-color: rgba(0, 0, 0, 0.301);
    z-index: 3;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.pop-up__menu {
    background-color: rgba(52, 172, 62, 0.808);
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: 350px;
    width: 90%;
    max-width: 500px;
}

.pop-up__menu p {
    font-size: 30px;
}

.pop-up__menu___img {
    max-width: 250px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.pop-up__menu img {
    padding: 5px;
    background-color: rgba(65, 62, 62, 0.794);
    width: 50px;
    height: 50px;
    border: 5px solid black;
    border-radius: 100%;
    object-fit: contain;
    margin: 20px 0px 0px 10px;
}

.escolhido {
    border: 5px solid white;
}

.titulo-escolher {
    margin-bottom: 30px;
}

@media (min-width: 600px) {
    .linha {
        width: 150px;
        height: 150px;
    }
    body {
        font-size: 120px;
    }
    .pop-up__menu___img {
        max-width: 400px;
    }
    .pop-up__menu {
        margin-top: 220px;
        height: 550px;
    }
    .titulo-escolher {
        margin-bottom: 80px;
    }
    .pop-up__menu img {
        width: 80px;
        height: 80px;
    }
    .pop-up__menu p {
        font-size: 50px;
    }
    #jogador-1 {
        font-size: 50px;
    }
    #jogador-2 {
        font-size: 50px;
    }
    #vs {
        font-size: 50px;
        margin: 0px 20px;
    }
}

@media (min-width: 1049px) {
    .pop-up__menu {
        margin-top: 100px;
    }
    #jogador-1 {
        font-size: 70px;
    }
    #jogador-2 {
        font-size: 70px;
    }
    #vs {
        font-size: 70px;
        margin: 0px 30px;
    }
}