body {}

.tabuleiro {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}

.linha {
    width: 40px;
    height: 40px;
    border: 2px solid black;
}